<main class="container">
    <div class="row text-center">
        <div class="col-12">
            <h3>Home con Bootstrap</h3>
            <p><a href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" target="_blank">Documentación</a></p>
        </div>
    </div>
</main>